---
import Layout from '../layouts/Layout.astro'
import SocialPill from '@/components/SocialPill.astro'
import LinkedInIcon from '@/components/icons/LinkedIn.astro'
import GithubIcon from '@/components/icons/Github.astro'
import MailIcon from '@/components/icons/Mail.astro'
---

<Layout title="Hugo Pontes Miranda - Full-Stack Developer">
	<main>
		<section class="mx-auto w-full gap-x-4 py-44 pb-4 lg:w-[740px]">
			<img
				class="mx-auto mb-4 size-24 rounded-full"
				src="https://avatars.githubusercontent.com/u/12600504?v=4"
				alt="Hugo Pontes Miranda"
			/>
			<h1 class="flex flex-row justify-center pb-10 text-5xl font-bold">Hi, i'm Hugo</h1>
			<h2 class="text-wrap text-center text-2xl">
				<span class="text-yellow-200/90">Full-stack developer and IoT enthusiast</span>.
				<span class="text-red-100/90">Based in Badajoz, Spain</span>.
			</h2>
			<h2 class="mx-auto w-4/5 text-wrap text-center text-lg opacity-80">
				Always excited to explore new horizons and deepen my knowledge.
			</h2>

			<nav class="mt-8 flex justify-center gap-x-4">
				<SocialPill href="https://www.linkedin.com/in/hugopontesmiranda/">
					<LinkedInIcon class="size-6" />
					LinkedIn
					<SocialPill href="https://github.com/hugopontesmiranda">
						<GithubIcon class="size-6" />
						Github
					</SocialPill>
					<SocialPill href="https://github.com/hugopontesmiranda">
						<MailIcon class="size-6" />
						hugopontesmiranda@gmail.com
					</SocialPill>
				</SocialPill>
			</nav>
		</section>
	</main>
</Layout>
